<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .row{
            display: flex;
            justify-content: space-evenly;
        }
        .title{
            
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <h1>Header</h1>

    <div>
        <div class="title"><p> 30 Minute Recipe</p></div>
        <div class="row">        
            <div class="card">
                <img src="/home/red/Downloads/download.jpeg" alt="" width="200">
                <p>First One</p>
            </div>
            <div class="card">
                <img src="/home/red/Downloads/download.jpeg" alt="" width="200">
                <p>Second One</p>
            </div>
            <div class="card">
                <img src="/home/red/Downloads/download.jpeg" alt="" width="200">
                <p>Third One</p>
            </div>
        </div>
    </div>

</body>
</html>